.contact .swiper-slide {
  width: fit-content !important;
}
.contact .swiper {
  max-width: 622px;
}

@media screen and (max-width: 600px) {
  .contact .swiper {
    max-width: 300px;
  }
  .contact .button-container {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 400px) {
  .contact .swiper {
    max-width: 250px;
  }
}
